@use '../../../styles/mastodon/ui-primitives' as ui;

.input {
  @include ui.text-field;

  .iconWrapper & {
    // Make space for icon displayed at start of input
    padding-inline-start: 44px;
  }
}

.iconWrapper {
  position: relative;

  &:has(.input:focus-visible) .icon {
    color: var(--color-text-brand);
  }

  &:has(.input:disabled) .icon {
    color: var(--color-text-disabled);
  }
}

.icon {
  pointer-events: none;
  position: absolute;
  width: 20px;
  height: 20px;
  inset-inline-start: 14px;
  inset-block-start: calc(50% - 10px);
  color: var(--color-text-secondary);
  transition: color 0.18s ease;
}
