.filtersWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 24px 18px;

  @container (width < 620px) {
    padding: 0 16px 16px;
  }
}

.filterSelectButton {
  appearance: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  min-height: 42px;
  padding: 0 16px;
  border: 1px solid var(--color-border-primary);
  border-radius: 9999px;
  color: var(--color-text-primary);
  background: var(--color-bg-secondary);
  font-size: 14px;
  font-weight: 600;
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease;

  &:hover,
  &:focus {
    color: var(--color-text-brand);
    border-color: var(--color-border-on-bg-brand-softer);
    background: var(--color-bg-brand-softer);
  }
}

.filterSelectIcon {
  width: 16px;
  height: 16px;
}

.filterOverlay {
  background: var(--color-bg-primary);
  border-radius: 16px;
  box-shadow: var(--dropdown-shadow);
  min-width: 230px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
  row-gap: 16px;
  padding: 12px 14px;
  z-index: 1;

  > label {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  [data-color-scheme='dark'] & {
    border: 1px solid var(--color-border-primary);
  }
}

.tagsWrapper {
  margin: 0 24px 14px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 8px;

  @container (width < 620px) {
    margin: 0 16px 14px;
  }
}

.tagsList {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}

.tagsListShowAll {
  flex-wrap: wrap;
  overflow: visible;
  max-width: none !important;
}

.statusWrapper {
  :global(.status) {
    padding-left: 24px;
    padding-right: 24px;
  }

  &:has(.pinnedViewAllButton) :global(.status):has(.pinnedStatusHeader) {
    border-bottom: none;
  }

  article:has(.pinnedViewAllButton) {
    border-bottom: 1px solid var(--color-border-primary);
  }

  @container (width < 620px) {
    :global(.status) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.pinnedViewAllButton {
  background-color: var(--color-bg-primary);
  border-radius: 14px;
  border: 1px solid var(--color-border-primary);
  box-sizing: border-box;
  color: var(--color-text-primary);
  line-height: normal;
  margin: 12px 24px;
  padding: 10px 12px;
  transition: border-color 0.2s ease-in-out;
  width: calc(100% - 48px);

  &:hover,
  &:focus {
    background-color: inherit;
    border-color: var(--color-bg-brand-base-hover);
  }

  @container (width < 620px) {
    margin: 12px 16px;
    width: calc(100% - 32px);
  }
}

.pinnedStatusHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  gap: 4px;

  > :global(.status__relative-time) {
    grid-column: 2;
    height: auto;
  }

  > :global(.status__display-name) {
    grid-row: span 2;
  }

  > :global(.account-role) {
    justify-self: end;
  }
}
