@mixin palette {
  --color-black: #000;
  --color-grey-950: #171b20;
  --color-grey-800: #2b3138;
  --color-grey-700: #414952;
  --color-grey-600: #5c6672;
  --color-grey-500: #7b8793;
  --color-grey-400: #a3adb7;
  --color-grey-300: #c5ccd3;
  --color-grey-200: #dee4e9;
  --color-grey-100: #eef2f5;
  --color-grey-50: #f8fafb;
  --color-white: #fffdf9;
  --color-paper-100: #fcfaf6;
  --color-paper-200: #f4efe7;
  --color-paper-300: #e8dfd2;
  --color-indigo-700: #2f5a78;
  --color-indigo-600: #3c6f94;
  --color-indigo-400: #7da7c3;
  --color-indigo-300: #aac8da;
  --color-indigo-200: #cfdfeb;
  --color-indigo-100: #e8f0f6;
  --color-indigo-50: #f3f7fa;
  --color-red-50: #fff2ef;
  --color-red-100: #ffe1d9;
  --color-red-300: #ffab98;
  --color-red-800: #a13a2c;
  --color-red-900: #7d2b1f;
  --color-red-950: #4d1710;
  --color-yellow-50: #fff9eb;
  --color-yellow-100: #fff1c9;
  --color-yellow-400: #e3b84b;
  --color-yellow-600: #b7861e;
  --color-yellow-700: #8f6917;
  --color-yellow-900: #5d440d;
  --color-yellow-950: #342607;
  --color-green-50: #edf8f3;
  --color-green-100: #d9f0e3;
  --color-green-400: #5cb288;
  --color-green-600: #327657;
  --color-green-900: #204b38;
  --color-green-950: #112a1f;
}
