.wrapper {
  align-items: center;
  max-width: 600px;
  text-align: center;
}

.content {
  h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }

  p {
    font-size: 15px;
    margin-top: 8px;
    color: var(--color-text-secondary);
  }
}
